.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}

.quantity-control button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  font-weight: bold;
}

button {
  border: none;
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
